@use "../utils/" as u;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  margin-inline: u.rem(24);
  padding: u.rem(34) u.rem(24) u.rem(32) u.rem(24);

  @include u.breakpoint(large) {
    max-width: u.rem(540);
    margin-inline: auto;
  }

  &__pageviews {
    font-weight: 800;
    font-size: u.rem(12);
    line-height: u.rem(16);
    letter-spacing: 1.71429px;
    text-align: center;

    text-transform: uppercase;
    color: var(--grey);
  }

  &__price {
    font-weight: 600;
    font-size: u.rem(14);
    line-height: u.rem(19);
    text-align: center;
    color: var(--grey);
    margin-block-start: u.rem(40);

    span {
      font-weight: 800;
      font-size: u.rem(32);
      line-height: u.rem(44);
      letter-spacing: -0.8px;
      color: var(--dark-blue);
      display: inline-block;
      margin-inline-end: u.rem(10);
    }
  }

  &__billing {
    display: flex;
    align-items: center;
    margin-block-start: u.rem(34);
    margin-inline-end: u.rem(-10);

    &__text {
      font-weight: 600;
      font-size: u.rem(12);
      line-height: u.rem(16);
      color: var(--grey);
    }

    &__switch {
      margin-inline: u.rem(16);

      &:hover {
        cursor: pointer;
      }
    }

    &__discount {
      font-weight: 800;
      font-size: u.rem(10);
      line-height: u.rem(14);
      text-align: center;
      color: #ff8d68;
      padding: u.rem(2) u.rem(7) u.rem(3) u.rem(6);
      background: #feede8;
      border-radius: u.rem(9.5);
      margin-inline-start: u.rem(5);

      &::before {
        content: "-";
      }

      @include u.breakpoint(large) {
        &::before {
          content: "";
        }
        &::after {
          content: " discount";
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.rem(10);
    margin-block-start: u.rem(63);
    list-style-image: url(../images/icon-check.svg);
    padding: 0;

    &__item {
      font-weight: 600;
      font-size: u.rem(12);
      line-height: u.rem(16);
      color: var(--grey);
    }
  }

  &__button {
    background: var(--dark-blue);
    border-radius: u.rem(20.5);
    border: none;
    font-family: u.$font;
    font-weight: 800;
    font-size: u.rem(12);
    line-height: u.rem(16);
    text-align: center;
    color: var(--light-grey);
    padding: u.rem(12) u.rem(46) u.rem(13);
    margin-block-start: u.rem(44);

    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
  }
}
